.navbar-brand {
    text-decoration:none;
    
    span{
        border: 0;
        border-bottom:5px;
        border-bottom-color: #630101;
        border-style:solid;
        padding-bottom: 10px;
        color:black; 
    }
}

nav{
    padding: 1em;
    padding-bottom: 1.5em;
    text-align: center;
}
