#footer {
        text-align:center;
        box-sizing: border-box;
        padding-bottom: 1.5em;
        a {
            text-decoration:none;
            color: grey;
            border: 0;
        }
          .github {
                border-top:5px;
                border-top-color: #630101;
                border-style:solid;
                margin-right: 1.5em;
                padding-top:0.5em;
            }

         .linkedin {
                border-top:5px;
                border-top-color: #630101;
                border-style:solid;
                margin-right: 1.5em;
                padding-top:0.5em;
            }

        .instagram {
                border-top:5px;
                border-top-color: #630101;
                border-style:solid;
                padding-top:0.5em;
        }
}